body {
    background: rgb(25, 28, 34);
    overflow: hidden;
}

blockquote {
    margin-top: 9.5em;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: inline-block;
    width: 17em;
    text-align: center;
    margin-left: 4.5em;
    margin-bottom: 0.1em;
    color: white;
}

p {
    font-size: 1.2em;
    text-align: center;
    color: rgb(63, 61, 61);
}